<div class="sidebar">
    <a href="character.html">FACE</a>
    <a href="character%20hair.html">HAIR</a>
    <a href="character%20shirt.html">SHIRT</a>
    <a href="character%20pants.html"> PANTS</a>
</div>